@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;padding: 0;
}
body {
    font-family: "Roboto Condensed", sans-serif;
    /* Full viewport height */
    width: 100%;
    
}

nav {
   
   
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    

  
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   

   
}
nav .logo{
    font-family: "Bodoni Moda", serif;
    font-size: 3rem;
    font-weight: 600;
    font-style: normal;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.logo img{
    border-radius: 50%;
}
nav li{
    cursor: pointer;
    padding: 20px;
    font-size: 1.2rem;
}
nav li:hover{
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 0px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
}
.main{
  
    background-image: url('https://plus.unsplash.com/premium_photo-1661922800416-c0b49b9bb77f?q=80&w=1862&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
   background-position: center 0;
    background-attachment: scroll; 
    background-repeat: no-repeat;
    height: 100vh; 
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.content {
    
    text-align: center;
    color: #333;
    padding: 20px 40px; 
    font-size: 24px; 
   
    border-radius: 15px;
    width: 40%; 
    min-width: 300px; 
   ;
  
  
    transition: all 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth transitions for hover effects */
   

}
.main img{
    width: 350px;
    border-radius: 80px;
}

.content h1 {
    color: #B7410E; /* Rust Red */
    font-size: 36px; /* Larger font size for main heading */
    font-weight: bold; /* Bold for emphasis */
    margin-bottom: 30px; /* Increased spacing below heading */
}
.about{
    background-color: #333;
    height: 50vh;
}
.about h2{
    font-size: 2.5rem;
    padding: 20px;
    text-align: center;
    color: white;
}
.button_container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.button_container button{
    padding: 15px;
    width: 140px;
    cursor: pointer;
    border-radius: 20px;
}