<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{url_for('static',filename='stylesheets/style.css')}}">
</head>
<body style="background-color: #E3FEF7;">
    {%include 'header.html'%}
    <div class="about-section-custom">
        <h1>About Us </h1>
        <p>We are a group of third-year students pursuing a Bachelor of Technology in Artificial Intelligence and Data Science at REVA University. Driven by a passion to address social issues, we have focused our efforts on tackling one of India's most pressing challenges: the difficulties faced by the agricultural community.
        </p> <br>
        <p>Agriculture is not just an industry, but the backbone of our economy and the lifeline of millions of households across the country. Recognizing the critical role that farmers play in our society, we have prioritized their needs and challenges. Our goal is to make a meaningful impact by enhancing their quality of life and boosting their productivity through technology.</p> <br>
        <p>To this end, we have developed a comprehensive model designed specifically for farmers. This platform includes all the essential modules that farmers need for easy access to vital resources and support. As students and emerging technologists, we are committed to leveraging our skills for the greater good. This project is more than just an academic endeavor; it's our contribution to a sector that feeds our nation. We believe that with the right tools and knowledge, farmers can overcome the challenges they face, leading to greater productivity and prosperity.</p>
      </div>
      
      <h2 style="text-align:center; margin:0 0 20px 0">Our Team</h2>
      <div class="row-custom">
        <div class="column-custom">
          <div class="card-custom">
            <img src="static\image\srb.jpg" alt="Jane">
            <div class="container-custom">
              <h2>Srinidhi R Bharadwaj</h2>
              <p class="title-custom">Team Lead & Developer</p>
              <p>B.Tech Artificial Intelligence & Data Science REVA University</p>
              <p>srinidhirbharadwaj@gmail.com</p>
             
            </div>
          </div>
        </div>
      
        <div class="column-custom">
          <div class="card-custom">
            <img src="static\image\daru.jpg" alt="Mike">
            <div class="container-custom">
              <h2>Dhaarini K N Hathwar </h2>
              <p class="title-custom">Developer & Designer</p>
              <p>B.Tech Artificial Intelligence & Data Science REVA University </p>
              <p>dhaarinihathwar@gmail.com</p>
             
            </div>
          </div>
        </div>
        <div class="column-custom">
          <div class="card-custom">
            <img src="static\image\yashes.jpg" alt="Mike">
            <div class="container-custom">
              <h2>Yashes Kishore</h2>
              <p class="title-custom">Developer</p>
              <p>B.Tech Artificial Intelligence & Data Science REVA University</p>
              <p>yasheskishore@gmail.com</p>
             
            </div>
          </div>
        </div>
      
        <div class="column-custom">
          <div class="card-custom">
            <img src="static\image\indu.jpg" alt="John">
            <div class="container-custom">
              <h2>Indu K</h2>
              <p class="title-custom">Developer</p>
              <p>B.Tech Artificial Intelligence & Data Science REVA University</p>
              <p>induk@gmail.com</p>
             
            </div>
          </div>
        </div>
      </div>
      {%include 'footer.html'%}
</body>
</html>