<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comming Soon</title>
    <link rel="stylesheet" href="{{url_for('static',filename='stylesheets/style.css')}}">
</head>
<body>
    {%include 'header.html'%}
    <div class="feature_soon">

        <h4>This Feature will be available soon.....</h4>
        
    </div>

    {%include 'footer.html'%}
    
    <script src="http://translate.google.com/translate_a/element.js?cb=lo
adGoogleTranslate"></script>
    =
    <script>
        function loadGoogleTranslate() {
            new google.translate.TranslateElement(
                "google element");
        }
    </script>
</body>
</html>