<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="top_bar">
            <span>DAIL FREE : 1234567890</span>
            <span>Language :
                <select name="" id="">
                    <option value="english">English</option>
                    <option value="kanada">kannada</option>
                </select>
            </span>
            <span> <button>Login &nbsp;<img src="static/image/image 7.png" alt=""></button></span>
        </div>
        <div class="bottom_bar">
            <a href=" /"> <div class="logo">Agrisphere</div></a>
            <div class="nav">
                <ul>
                    <a href=""><li>Home</li> </a>
                    <a href="#services"><li>Service</li> </a>
                    <a href=""><li>About us</li> </a>
                    <a href="faq"><li>FAQ</li> </a>
                    <a href="contact"><li>Contact us</li> </a>
                </ul>
            </div>
        </div>
    </header>
</body>
</html>
