<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgriSphere</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
  
 
    <style>
        .hero_section {
            margin: 110px 0 0 0;
            height: 85vh;
            background-image: url('static/image/bg.jpg');

            background-position: center;

            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
        }
    </style>
</head>

<body>
    {% include 'header.html'%}
    <div class="hero_section" >
        <span data-aos="fade-up"
        data-aos-duration="2000">Empowering Farmers, Cultivating Success: Agrisphere - Your Ultimate Agricultural Hub!</span>
        <div class="button" >
           <a href="contact"> <button> <img src="static/image/image 1.png" alt="">&nbsp;&nbsp;&nbsp;Contact us</button></a>
            <button> <img src="static/image/image 2.png" alt="">&nbsp;&nbsp;&nbsp;About us</button>
        </div>
    </div>
    <div class="anouncement"  >
        <div class="left" data-aos="fade-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine" data-aos-duration="800"> <span> Enhancing compliance and business management</span></div>
        <div class="right" data-aos="fade-left"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine" data-aos-duration="800">
            <div class="top">HEALTH AND SAFETY | FOOD SAFETY AND DEFENSE | PREVENTIVE MAINTENANCE</div>
            <div class="bottom">AgriSphere is the agriculture industry’s leading partner for professional consulting
                services and cloud-based software solutions that enhance compliance and support improved management and
                transparency. Our team has decades of combined experience helping organizations find ways to improve the
                way they manage their organization. It is our express goal to help your company manage its critical
                programs and ensure safety and compliance within your organization.</div>
        </div>
    </div>
    <marquee behavior="scroll" direction="left" scrollamount="10"> <span> <img src="{{ url_for('static', filename='image/point.png') }}" alt=""
                width="30px"> &nbsp; State Scholarship Portal Helpline -1902 &nbsp;&nbsp;&nbsp;&nbsp; <img
                src="{{ url_for('static', filename='image/point.png') }}" alt="" width="30px"> &nbsp; Raitha Call Center Toll Free No: 1800 425
            3553</span></marquee>
    <marquee behavior="scroll" direction="right" scrollamount="10"> <span> <img src="{{ url_for('static', filename='image/phone-call.png') }}" alt=""
                width="20px"> &nbsp; Call 1902 to register your grievance (if any) regarding any scheme / service
            delivery of Government of Karnataka  &nbsp;&nbsp;&nbsp;&nbsp; <img src="assets/image/point.png" alt=""
                width="30px"> &nbsp; Raitha Call Center Toll Free No: 1800 425 3553</span></marquee>
    <div class="posters">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src=" {{ url_for('static', filename='image/Group 4.png') }}" alt=""></div>
                <div class="swiper-slide"><img src="https://cbpssubscriber.mygov.in/assets/uploads/3rpbtfC38B9muoRQ?5"
                        alt=""></div>
                <div class="swiper-slide"><img src="https://pmkisan.gov.in/new_images/PMKisanBanner.jpg" alt=""></div>
                <div class="swiper-slide"><img
                        src="https://www.azquotes.com/picture-quotes/quote-weeding-is-as-necessary-to-agriculture-as-sowing-mahatma-gandhi-127-25-90.jpg"
                        alt=""></div>
                <div class="swiper-slide"><img
                        src="https://st1.latestly.com/wp-content/uploads/2019/12/Kisan-Diwas-Quotes-Greetings.jpg"
                        alt=""></div>
                <div class="swiper-slide"><img
                        src="https://www.azquotes.com/picture-quotes/quote-i-dream-of-a-digital-india-where-farmers-are-empowered-with-real-time-information-to-narendra-modi-130-41-50.jpg"
                        alt=""></div>
                <div class="swiper-slide"><img
                        src="https://santrampalji-files.sgp1.cdn.digitaloceanspaces.com/2022/12/National-Farmers-Day-2022-Date-History-Facts-Quotes-Speech.jpg"
                        alt=""></div>
                <div class="swiper-slide"><img
                        src="https://www.azquotes.com/picture-quotes/quote-most-things-except-agriculture-can-wait-jawaharlal-nehru-112-41-24.jpg"
                        alt=""></div>

            </div>
            <div class="swiper-pagination"></div>
        </div>

        <!-- Swiper JS -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

        <!-- Initialize Swiper -->
        <script>
            var swiper = new Swiper(".mySwiper", {
                direction: "vertical",
                loop: true,
                autoplay: {
                    delay: 3000, // Adjust the delay (in milliseconds) between slides
                    disableOnInteraction: false, // Keep autoplay running even when the user interacts with the slider
                },
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                effect: "slide", // You can change this to other effects like 'fade', 'cube', 'coverflow', etc.
                speed: 800, // Adjust the speed of the slide transition (in milliseconds)
                grabCursor: true, // Show grab cursor while dragging slider
            });
        </script>
    </div>
    <div class="services" id="services">
        <span class="heading">Services</span>
        <div class="swiper services_slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide" id="swiper-slide" data-aos="fade-down-right" data-aos-duration="2000">
                    <a href="suggestion">
                        <div class="card">
                            <div class="content"> Crop Prediction</div>
                            <div class="img"><img src="{{ url_for('static', filename='image/crop pre.png') }}" alt=""></div>

                        </div>
                    </a>
                </div>
                <div class="swiper-slide" data-aos="fade-down-right" data-aos-duration="2000">
                    <a href="disease">
                        <div class="card">
                            <div class="content"> Disease Prediction</div>
                            <div class="img"><img src="{{ url_for('static', filename='image/diseas pre.png') }}" alt=""></div>

                        </div>
                    </a>
                </div>
                <div class="swiper-slide" data-aos="fade-down-right" data-aos-duration="2000">
                    <a href="soil_pred">
                        <div class="card">
                            <div class="content"> Soil Analysis</div>
                            <div class="img"><img src="{{ url_for('static', filename='image/soil analysis.png') }}" alt=""></div>

                        </div>
                    </a>
                </div>
                <div class="swiper-slide" data-aos="fade-down-right" data-aos-duration="2000">
                    <a href="Comming_soon">
                        <div class="card">
                            <div class="content"> Market Trends and Finance</div>
                            <div class="img"><img src="{{ url_for('static', filename='image/market_trend.png') }}" alt=""></div>
                            <div class="comming_soon"> </div>
                            <div class="comming_button"><img src="{{ url_for('static', filename='image/lock.png') }}" alt=""> Coming Soon...</div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide" data-aos="fade-down-right" data-aos-duration="2000">
                    <a href="Comming_soon">
                        <div class="card">
                            <div class="content"> Weather/climate prediction</div>
                            <div class="img"><img src="{{ url_for('static', filename='image/wethere_pred.png') }}" alt=""></div>
                            <div class="comming_soon"> </div>
                            <div class="comming_button"><img src="{{ url_for('static', filename='image/lock.png') }}" alt=""> Coming Soon...</div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide" data-aos="fade-down-right" data-aos-duration="2000">
                    <a href="Comming_soon">
                        <div class="card">
                            <div class="content"> training and education portals</div>
                            <div class="img"><img src="{{ url_for('static', filename='image/education.png') }}" alt=""></div>
                            <div class="comming_soon"> </div>
                            <div class="comming_button"><img src="{{ url_for('static', filename='image/lock.png') }}" alt=""> Coming Soon...</div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide" data-aos="fade-down-right" data-aos-duration="2000">
                    <a href="Comming_soon">
                        <div class="card">
                            <div class="content"> resources sharing / equipments</div>
                            <div class="img"><img src="https://cdn-icons-png.flaticon.com/512/1681/1681286.png" alt="">
                            </div>
                            <div class="comming_soon"> </div>
                            <div class="comming_button"><img src="{{ url_for('static', filename='image/lock.png') }}" alt=""> Coming Soon...</div>
                        </div>
                    </a>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>

        <!-- Swiper JS -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

        <!-- Initialize Swiper -->
        <script>
            var swiper = new Swiper(".services_slider", {
                slidesPerView: 4,
                spaceBetween: 20,
                loop: true,
                freeMode: true,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
            });
        </script>
    </div>

    {% include 'footer.html'%}
    <script>
        window.addEventListener('scroll', function () {
            var topBar = document.querySelector('.top_bar');
            var bottomBar = document.querySelector('.bottom_bar');
            if (window.scrollY > 120) {
                topBar.style.display = 'none';
                bottomBar.classList.add('sticky');
            } else {
                topBar.style.display = 'flex';
                bottomBar.classList.remove('sticky');
            }
        });
    </script>
    <script>AOS.init();</script> 

</body>

</html>